MONGODB_URI="mongodb://127.0.0.1/"
JWT_TOKEN=secretjwts3c0ndh4nd*&#

GOOGLE_CLIENT_ID=165643999477-r2s5skv8dl7en249nvcggd6qaoa2v57a.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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